MULTILOGIN_EMAIL=
MULTILOGIN_PASSWORD=
MULTILOGIN_API_TOKEN=
MULTILOGIN_WORKSPACE_ID=
MULTILOGIN_FOLDER_ID=
GOOGLE_SHEETS_CREDENTIALS_PATH=google_service_account.json
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_WORKSHEET_TITLE=Sheet1
